<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout:: head"></head>

<body>
	<header th:replace="~{layout/layout:: header}"></header>

	<main>
		<div class="container py-4">

			<div class="card shadow rounded">
				<div class="card-header bg-primary text-white text-center fs-4" th:text="${titulo}"></div>

				<div class="card-body">

					<h4 sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{/factura/form/} + ${cliente.id}" class="btn btn-primary btn-sm">Crear
							Factura</a>
					</h4>

					<div class="text-center mb-4">
						<img th:if="${#strings.length(cliente.foto) > 0}" th:src="@{'/uploads/' + ${cliente.foto}}"
							th:alt="${cliente.foto}" class="img-thumbnail rounded-circle"
							style="width: 150px; height: 150px; object-fit: cover;" />
					</div>

					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<strong>Nombre: </strong><span th:text="${cliente.nombre}"></span>
						</li>
						<li class="list-group-item">
							<strong>Apellido: </strong><span th:text="${cliente.apellido}"></span>
						</li>
						<li class="list-group-item">
							<strong>Email: </strong><span th:text="${cliente.email}"></span>
						</li>
						<li class="list-group-item">
							<strong>Fecha de creación: </strong><span th:text="${cliente.createAt}"></span>
						</li>
					</ul>
					<div th:if="${#lists.isEmpty(cliente.facturas)}" class="alert alert-info my-4"
						th:text="'No hay facturas asignadas para el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}">
					</div>
					<table th:if="${not #lists.isEmpty(cliente.facturas)}"
						class="table table-striped table-hover mx-auto text-center">
						<thead>
							<tr>
								<th>folio</th>
								<th>descripcion</th>
								<th>fecha</th>
								<th>total</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')">ver</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')">eliminar</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each=" factura: ${cliente.facturas}">
								<td th:text="${factura.id}"></td>
								<td th:text="${factura.descripcion}"></td>
								<td th:text="${factura.createAt}"></td>
								<td th:text="${factura.total}"></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')">
									<a class="btn btn-sm btn-success" th:href="@{'/factura/ver/' + ${factura.id}}">
										<i class="bi bi-eye"></i>
									</a>
								</td>
								<td sec:authorize="hasRole('ROLE_ADMIN')">
									<a class="btn btn-sm btn-danger" th:href="@{'/factura/eliminar/' + ${factura.id}}"
										onclick="return confirm('¿Estás seguro que desea eliminar la factura?');"><i
											class="bi bi-trash-fill"></i></a>
								</td>
							</tr>

						</tbody>
					</table>

				</div>
			</div>
		</div>
	</main>


	<footer th:replace="~{layout/layout:: footer}"></footer>

</body>

</html>